@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');


html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.3em;
}

ul {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

hr {
  border:solid 1px rgb(68, 75, 85);
}


input, 
select,
textarea,
button {
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
  color:#222;
  color:#e4e8e9;
  background:rgb(39, 42, 45);
  letter-spacing: 0.3px;
}

a, a:visited {
  color: rgb(66, 126, 255);
}

button {
  opacity: 1;
  position: relative;
  top: 0;
  cursor: pointer;
  background: #ccc;
  border: none;
  border-radius: 2px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

button:hover {
  opacity: 0.7;
}
button:active {
  top: 1px;
}

button[type="submit"] {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
background: rgb(73,155,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;

}

iframe {
	border:none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 6px 12px;
  text-align: left;
  position: relative;

}

tr {
}

td pre {
  padding:12px 12px;
  text-align: left;
  /*word-wrap: break-word;*/
  max-width: 800px;
  /*white-space: pre-line;*/
  /*display:inline-block;*/
  overflow: hidden;
  background:rgba(0,0,0, 0.3);
  border-radius: 2px;
  line-height: 1.4em;
}

table, th, td {
  border: 1px solid rgb(41, 39, 39);
}

iframe {
  background:grey;
}

pre{ 
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-all;
}

pre.embed  {
  padding: 20px;
  background: rgb(59, 61, 64);
  border-radius: 2px;
}

progress {
  height: 30px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

progress[value] {
  height: 30px;
}

progress[value]::-webkit-progress-value {

  background: rgb(73,155,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
textarea {
  border-radius: 2px;
  border-color: #ddd;
  padding: 4px 8px;
}
.page-width {
	max-width: 1600px;
  margin:0 auto;
  padding:0 5%;
}

#hide-with-css {
  display: none;
}

.google-font{
  font-family: 'Alfa Slab One';
}


.google-font-too{
  font-family: 'Monoton';
}

#style-self-external {
  color: rgb(17, 167, 167);
}

#style-self-external:before {
  content: "Changed ";
}

#csp-examples {
	margin: 0 0 50px 0;
}

#csp-examples td:first-child {
  font-weight: bold;
}
.csp-blocked-uri {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#csp-report-viewer{
  background: rgba(0, 0, 0, 0.3);
  overflow: visible;
	overflow-x: hidden;
  padding: 40px 20px;  
  display: none;
  position: relative;

	/*
	position: fixed;
	display: block;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
	max-height: 25%;
	overflow-y: scroll;
	*/
}

#csp-report-viewer table {
	width: 100%;
}

#csp-report-viewer table, 
#csp-report-viewer th, 
#csp-report-viewer td {
  border: 1px solid rgba(68, 62, 62, 0.3);
}
#csp-report-viewer th {
  color: white;
}
#csp-report-viewer td {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8em;
  color:#ccc;
}


[form-repeatable]:nth-child(1) .btn-remove{
  display: none;
}

.csp-directive {
  border-bottom: solid 2px rgb(90, 90, 90);
  padding: 16px 0;
  position: relative;
  font-size: 16px;
  padding: 20px;
  margin: 0 12px;
}


.csp-directive .controls {
  position: absolute;
  bottom: 26px;
  left: 20px;
}

.controls button {
  margin-right:  4px;
  padding: 4px 6px;

}

.csp-directive select{
  display: inline-block;
  vertical-align:top;
  width: 20%;
  margin-right: 10px;
  font-size: 16px;

}

.csp-directive textarea{
  display: inline-block;
  width: 70%;
  height: 70px;
  max-width: 640px;
  font-size: 16px;
}

#csp-form {
  border-radius: 2px;
  background: rgb(59, 61, 64);
}

#csp-form button[type=submit] {
  margin: 0 20px 20px 20px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border:none;
}

.table tr {}

.table th,
.table td {
  padding: 20px 12px;
  vertical-align: top;
  border:none;
  border-top: 2px solid rgb(68, 75, 85);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid rgb(68, 75, 85);
  text-transform: uppercase;
  font-weight: bold;
}

.table tbody + tbody {
  border-top: 2px solid rgb(68, 75, 85);
}

.col-state,
.col-goal{
  text-align: center;
}

.csp-enforce-status a {
  text-align: right;
  display: inline-block;
  float: right;
}

#main-menu {
  background: #eee;
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 20px;
  
}
#main-menu ul {
  padding-left: 20px;
}
#main-menu li {
  display: inline-block;
}
#main-menu li a {
  display: inline-block;
  padding: 12px 4px;
  color: rgb(39, 42, 45);
  text-decoration: none;
}

a {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all 100ms;
  -webkit-transition:all 100ms;

}

a:hover {
  opacity: 0.7;
}


.trigger-refresh {
  display: block;
  position: absolute;
  top: -4px;
  z-index: 20;
  margin: 0 auto;
  left: calc(50% - 50px);
  width: 100px;
  background: #555;
}

#explanation {
  max-width: 700px;
  margin: 30px auto 0 auto;
}

.embed {
  border-radius: 2px;
  background: rgb(59, 61, 64);
  padding: 20px;
  margin-bottom: 8px;
}

.embed.light {
  background: rgb(160, 163, 169);
  color: #222;
}
.github-link {
  float: right;
  position: relative;
  padding: 0px 20px 0px 40px;
  background: rgba(59, 61, 64, 0.3);
}
.github-link img {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 13px;
  left: -20px;
}


.mdn-link {
  text-decoration: none;
  position: absolute;
  top: 20px;
  left: -20px;
  background:  rgb(73,155,234); 
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  padding:0px 4px;
  opacity: 0.8;
}

.mdn-link:visited {
  color:#fff;
}

.hint {
  cursor: pointer;
  color:#fff !important;
  font-size: 12px !important;
  display: inline-block;
  text-decoration: none;
  background: rgb(73,155,234); 
  display: inline-block !important;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  padding-top: 2px;
  margin: 0 8px 0 -30px;
}

.hint:hover ~ .category-hint{
  display: block;
}
.category-hint {
  color: #000;
  position: absolute;
  background: rgba(187, 223, 114, 0.9);
  padding: 12px;
  width: 400px;
  z-index: 8;
  display: none;
  border-radius: 2px;
  top: 10px;
  left: 28px;
  font-weight: normal;
}

.category-hint code {
  font-weight: bold;
}

.allow:before {
  content: '✅';
}
.block:after {
  content: '⛔';
}

.list-inline {
  display: inline-block;
  list-style: none;
  padding:0;
  margin:0;
}
.list-inline li{
  display: inline-block;
}


.list-exercises {  
  float: right;
}


/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
/*
 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
 }
 
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #f8f8f2;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }
 
 .token.boolean,
 .token.number {
   color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #e6db74;
 }
 
 .token.keyword {
   color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
   color: #fd971f;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 */
 /* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 0.9em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
  word-wrap: normal;
  
  overflow: hidden;
	white-space: pre-wrap;
	word-break: break-all;


	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #406e9f;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #78af69;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

/* intro.js */
.introjs-overlay{position:absolute;box-sizing:content-box;z-index:999999;background-color:#000;opacity:0;background:-moz-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0,rgba(0,0,0,.4)),color-stop(100%,rgba(0,0,0,.9)));background:-webkit-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:-o-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:-ms-radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);background:radial-gradient(center,ellipse farthest-corner,rgba(0,0,0,.4) 0,rgba(0,0,0,.9) 100%);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.introjs-fixParent{z-index:auto!important;opacity:1!important;-webkit-transform:none!important;-moz-transform:none!important;-ms-transform:none!important;-o-transform:none!important;transform:none!important}.introjs-showElement,tr.introjs-showElement>td,tr.introjs-showElement>th{z-index:9999999!important}.introjs-disableInteraction{z-index:99999999!important;position:absolute;background-color:#fff;opacity:0}.introjs-relativePosition,tr.introjs-showElement>td,tr.introjs-showElement>th{position:relative}.introjs-helperLayer{box-sizing:content-box;position:absolute;z-index:9999998;background-color:#fff;background-color:rgba(255,255,255,.9);border:1px solid #777;border:1px solid rgba(0,0,0,.5);border-radius:4px;box-shadow:0 2px 15px rgba(0,0,0,.4);-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.introjs-tooltipReferenceLayer{box-sizing:content-box;position:absolute;visibility:hidden;z-index:100000000;background-color:transparent;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-ms-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out}.introjs-helperLayer *,.introjs-helperLayer :after,.introjs-helperLayer :before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box}.introjs-helperNumberLayer{box-sizing:content-box;position:absolute;visibility:visible;top:-16px;left:-16px;z-index:9999999999!important;padding:2px;font-family:Arial,verdana,tahoma;font-size:13px;font-weight:700;color:#fff;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.3);background:#ff3019;background:-webkit-linear-gradient(top,#ff3019 0,#cf0404 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#ff3019),color-stop(100%,#cf0404));background:-moz-linear-gradient(top,#ff3019 0,#cf0404 100%);background:-ms-linear-gradient(top,#ff3019 0,#cf0404 100%);background:-o-linear-gradient(top,#ff3019 0,#cf0404 100%);background:linear-gradient(to bottom,#ff3019 0,#cf0404 100%);width:20px;height:20px;line-height:20px;border:3px solid #fff;border-radius:50%;box-shadow:0 2px 5px rgba(0,0,0,.4)}.introjs-arrow{border:5px solid transparent;content:'';position:absolute}.introjs-arrow.top{top:-10px;border-bottom-color:#fff}.introjs-arrow.top-right{top:-10px;right:10px;border-bottom-color:#fff}.introjs-arrow.top-middle{top:-10px;left:50%;margin-left:-5px;border-bottom-color:#fff}.introjs-arrow.right{right:-10px;top:10px;border-left-color:#fff}.introjs-arrow.right-bottom{bottom:10px;right:-10px;border-left-color:#fff}.introjs-arrow.bottom{bottom:-10px;border-top-color:#fff}.introjs-arrow.bottom-right{bottom:-10px;right:10px;border-top-color:#fff}.introjs-arrow.bottom-middle{bottom:-10px;left:50%;margin-left:-5px;border-top-color:#fff}.introjs-arrow.left{left:-10px;top:10px;border-right-color:#fff}.introjs-arrow.left-bottom{left:-10px;bottom:10px;border-right-color:#fff}.introjs-tooltip{box-sizing:content-box;position:absolute;visibility:visible;padding:10px;background-color:#fff;min-width:200px;max-width:300px;border-radius:3px;box-shadow:0 1px 10px rgba(0,0,0,.4);-webkit-transition:opacity .1s ease-out;-moz-transition:opacity .1s ease-out;-ms-transition:opacity .1s ease-out;-o-transition:opacity .1s ease-out;transition:opacity .1s ease-out}.introjs-tooltipbuttons{text-align:right;white-space:nowrap}.introjs-button{box-sizing:content-box;position:relative;overflow:visible;display:inline-block;padding:.3em .8em;border:1px solid #d4d4d4;margin:0;text-decoration:none;text-shadow:1px 1px 0 #fff;font:11px/normal sans-serif;color:#333;white-space:nowrap;cursor:pointer;outline:0;background-color:#ececec;background-image:-webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),to(#ececec));background-image:-moz-linear-gradient(#f4f4f4,#ececec);background-image:-o-linear-gradient(#f4f4f4,#ececec);background-image:linear-gradient(#f4f4f4,#ececec);-webkit-background-clip:padding;-moz-background-clip:padding;-o-background-clip:padding-box;-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em;zoom:1;margin-top:10px}.introjs-button:hover{border-color:#bcbcbc;text-decoration:none;box-shadow:0 1px 1px #e3e3e3}.introjs-button:active,.introjs-button:focus{background-image:-webkit-gradient(linear,0 0,0 100%,from(#ececec),to(#f4f4f4));background-image:-moz-linear-gradient(#ececec,#f4f4f4);background-image:-o-linear-gradient(#ececec,#f4f4f4);background-image:linear-gradient(#ececec,#f4f4f4)}.introjs-button::-moz-focus-inner{padding:0;border:0}.introjs-skipbutton{box-sizing:content-box;margin-right:5px;color:#7a7a7a}.introjs-prevbutton{-webkit-border-radius:.2em 0 0 .2em;-moz-border-radius:.2em 0 0 .2em;border-radius:.2em 0 0 .2em;border-right:none}.introjs-prevbutton.introjs-fullbutton{border:1px solid #d4d4d4;-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em}.introjs-nextbutton{-webkit-border-radius:0 .2em .2em 0;-moz-border-radius:0 .2em .2em 0;border-radius:0 .2em .2em 0}.introjs-nextbutton.introjs-fullbutton{-webkit-border-radius:.2em;-moz-border-radius:.2em;border-radius:.2em}.introjs-disabled,.introjs-disabled:focus,.introjs-disabled:hover{color:#9a9a9a;border-color:#d4d4d4;box-shadow:none;cursor:default;background-color:#f4f4f4;background-image:none;text-decoration:none}.introjs-hidden{display:none}.introjs-bullets{text-align:center}.introjs-bullets ul{box-sizing:content-box;clear:both;margin:15px auto 0;padding:0;display:inline-block}.introjs-bullets ul li{box-sizing:content-box;list-style:none;float:left;margin:0 2px}.introjs-bullets ul li a{box-sizing:content-box;display:block;width:6px;height:6px;background:#ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;text-decoration:none;cursor:pointer}.introjs-bullets ul li a:hover{background:#999}.introjs-bullets ul li a.active{background:#999}.introjs-progress{box-sizing:content-box;overflow:hidden;height:10px;margin:10px 0 5px 0;border-radius:4px;background-color:#ecf0f1}.introjs-progressbar{box-sizing:content-box;float:left;width:0%;height:100%;font-size:10px;line-height:10px;text-align:center;background-color:#08c}.introjsFloatingElement{position:absolute;height:0;width:0;left:50%;top:50%}.introjs-fixedTooltip{position:fixed}.introjs-hint{box-sizing:content-box;position:absolute;background:0 0;width:20px;height:15px;cursor:pointer}.introjs-hint:focus{border:0;outline:0}.introjs-hidehint{display:none}.introjs-fixedhint{position:fixed}.introjs-hint:hover>.introjs-hint-pulse{border:5px solid rgba(60,60,60,.57)}.introjs-hint-pulse{box-sizing:content-box;width:10px;height:10px;border:5px solid rgba(60,60,60,.27);-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background-color:rgba(136,136,136,.24);z-index:10;position:absolute;-webkit-transition:all .2s ease-out;-moz-transition:all .2s ease-out;-ms-transition:all .2s ease-out;-o-transition:all .2s ease-out;transition:all .2s ease-out}.introjs-hint-no-anim .introjs-hint-dot{-webkit-animation:none;-moz-animation:none;animation:none}.introjs-hint-dot{box-sizing:content-box;border:10px solid rgba(146,146,146,.36);background:0 0;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px;height:50px;width:50px;-webkit-animation:introjspulse 3s ease-out;-moz-animation:introjspulse 3s ease-out;animation:introjspulse 3s ease-out;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;animation-iteration-count:infinite;position:absolute;top:-25px;left:-25px;z-index:1;opacity:0}@-webkit-keyframes introjspulse{0%{-webkit-transform:scale(0);opacity:0}25%{-webkit-transform:scale(0);opacity:.1}50%{-webkit-transform:scale(.1);opacity:.3}75%{-webkit-transform:scale(.5);opacity:.5}100%{-webkit-transform:scale(1);opacity:0}}@-moz-keyframes introjspulse{0%{-moz-transform:scale(0);opacity:0}25%{-moz-transform:scale(0);opacity:.1}50%{-moz-transform:scale(.1);opacity:.3}75%{-moz-transform:scale(.5);opacity:.5}100%{-moz-transform:scale(1);opacity:0}}@keyframes introjspulse{0%{transform:scale(0);opacity:0}25%{transform:scale(0);opacity:.1}50%{transform:scale(.1);opacity:.3}75%{transform:scale(.5);opacity:.5}100%{transform:scale(1);opacity:0}}
.introjs-helperLayer {
  background: rgba(255,255,255,0.1);
}

.csp-directive.introjs-showElement {
  border: none;
}

.table.in-tutorial thead th {
  border: none;
}
.introjs-showElement td {
  border: none;
}

.introjs-showElement + tr td {
  border: none;
}

.introjs-tooltip {
  color: #444;
}