@import url('https://fonts.googleapis.com/css?family=Monoton');

html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

hr {
  border:solid 1px rgb(68, 75, 85);
}


input, 
select,
textarea,
button {
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
  color:#222;
  color:#e4e8e9;
  background:rgb(39, 42, 45);
  letter-spacing: 0.3px;
}

a, a:visited {
  color: rgb(66, 126, 255);
}
button {
  background: #ccc;
  border: none;
  border-radius: 2px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

button[type="submit"] {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
background: rgb(73,155,234); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;

}

iframe {
	border:none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 6px 12px;
  text-align: left;
}

td pre {
  padding:4px 8px;
  text-align: left;
  /*word-wrap: break-word;*/
  max-width: 800px;
  /*white-space: pre-line;*/
  /*display:inline-block;*/
  overflow: hidden;
  background:rgba(0,0,0, 0.3);
  padding: 4px 12px;
  border-radius: 2px;
}

table, th, td {
  border: 1px solid rgb(41, 39, 39);
}

iframe {
  background:grey;
}

pre{ 
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-all;
}

pre.embed  {
  padding: 20px;
  background: rgb(59, 61, 64);
  border-radius: 2px;
}

progress {
  height: 30px;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

progress[value] {
  height: 30px;
}

progress[value]::-webkit-progress-value {

  background: rgb(73,155,234); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
textarea {
  border-radius: 2px;
  border-color: #ddd;
  padding: 4px 8px;
}
.page-width {
	max-width: 1600px;
  margin:0 auto;
  padding:0 5%;
}

#hide-with-css {
  display: none;
}

.google-font{
  font-family: 'Alfa Slab One';
}


.google-font-too{
  font-family: 'Monoton';
}

#style-self-external {
  color: rgb(17, 167, 167);
}

#style-self-external:before {
  content: "Changed ";
}

#csp-examples {
	margin: 0 0 50px 0;
}

#csp-examples td:first-child {
  font-weight: bold;
}
.csp-blocked-uri {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#csp-report-viewer{
  background: rgba(0, 0, 0, 0.3);
  overflow: visible;
	overflow-x: hidden;
  padding: 40px 20px;  
  display: none;
  position: relative;

	/*
	position: fixed;
	display: block;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
	max-height: 25%;
	overflow-y: scroll;
	*/
}

#csp-report-viewer table {
	width: 100%;
	color: white;
}

#csp-report-viewer table, 
#csp-report-viewer th, 
#csp-report-viewer td {
	border: 1px solid rgba(68, 62, 62, 0.3);
}

[form-repeatable]:nth-child(1) .btn-remove{
  display: none;
}

.csp-directive {
  border-bottom: solid 2px rgb(90, 90, 90);
  padding: 16px 0;
  position: relative;
  font-size: 16px;
}


.csp-directive .controls {
  position: absolute;
  bottom: 26px;
  left:0;
}

.controls button {
  margin-right:  4px;
  padding: 4px 6px;

}

.csp-directive select{
  display: inline-block;
  vertical-align:top;
  width: 20%;
  margin-right: 10px;
  padding: 20px;
  font-size: 16px;

}

.csp-directive textarea{
  display: inline-block;
  width: 70%;
  height: 70px;
  max-width: 640px;
  font-size: 16px;
}

#csp-form {
  border-radius: 2px;
  background: rgb(59, 61, 64);
  padding: 20px;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 10px;
  border:none;
}

.table tr {}

.table th,
.table td {
  padding: 20px 12px;
  vertical-align: top;
  border:none;
  border-top: 2px solid rgb(68, 75, 85);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid rgb(68, 75, 85);
  text-transform: uppercase;
  font-weight: bold;
}

.table tbody + tbody {
  border-top: 2px solid rgb(68, 75, 85);
}

.col-state,
.col-goal{
  text-align: center;
}

.csp-enforce-status {
  background: rgb(160, 163, 169);
  padding: 8px 12px;
  border-radius: 2px;
  color:#222;
  margin-bottom: 8px;
}
.csp-enforce-status a {
  text-align: right;
  display: inline-block;
  float: right;
}

#main-menu {
  background: #eee;
  font-size: 120%;
  font-weight: bold;
}

#main-menu li {
  display: inline-block;
}
#main-menu li a {
  display: inline-block;
  padding: 12px 4px;
  color: rgb(39, 42, 45);
  text-decoration: none;
}

a {
  position: relative;
  top: 0;
  opacity: 1;
  transition: all 100ms;
  -webkit-transition:all 100ms;

}
a:hover {
  top: 1px;
  opacity: 0.7;
}


.trigger-refresh {
  display: block;
  position: absolute;
  top: -4px;
  z-index: 20;
  margin: 0 auto;
  left: calc(50% - 50px);
  width: 100px;
}

#explanation {
  background: rgb(59, 61, 64);
  padding: 20px;
  max-width: 700px;
  margin: 30px auto 0 auto;
}

.github-link {
  float: right;
  position: relative;
  padding: 0px 20px 0px 40px;
  background: rgba(59, 61, 64, 0.3);
}
.github-link img {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 13px;
  left: -20px;
}