html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin:0;
  padding:0;
}

iframe {
	border:none;
}

table {
  border-collapse: collapse;
}

td {
  padding: 6px 12px;
  text-align: left;
}

td pre {
  padding:0;
  text-align: left;
  /*word-wrap: break-word;*/
  max-width: 800px;
  /*white-space: pre-line;*/
  /*display:inline-block;*/
  overflow: hidden;
}

table, th, td {
  border: 1px solid rgb(41, 39, 39);
}

iframe {
  background:grey;
}

pre{ 
	overflow: hidden;
	white-space: pre-wrap;
	word-break: break-all;
}
.page-width {
	max-width: 1600px;
  margin:0 auto;
  padding:0 5%;
}

#hide-with-css {
  display: none;
}

.google-font{
  font-family: 'Alfa Slab One';
}

.google-font-too{
  font-family: 'Nixie One';
}

#style-self-external {
  color: rgb(17, 167, 167);
}

#style-self-external:before {
  content: "Changed ";
}

#csp-examples {
	margin: 0 0 50px 0;
}

.csp-blocked-uri {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#csp-report-viewer{
    background: rgba(0,0,0,0.9);
	color: rgb(179, 179, 179);
	overflow-x: hidden;
	padding: 20px;

	/*
	position: fixed;
	display: block;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  left: 0;
	max-height: 25%;
	overflow-y: scroll;
	*/
}

#csp-report-viewer table {
	width: 100%;
	color: white;
}

#csp-report-viewer table, 
#csp-report-viewer th, 
#csp-report-viewer td {
	border: 1px solid rgba(255,255,255,0.3);
}

[form-repeatable]:nth-child(1) .btn-remove{
  display: none;
}

.csp-directive {
  border-bottom: solid 2px rgb(199, 195, 195);
  padding: 16px 0;
  position: relative;
}

.csp-directive .controls {
  position: absolute;
  bottom: 16px;
  left:0;
}

.csp-directive select{
  display: inline-block;
  vertical-align:top;
  width: 20%;
}

.csp-directive textarea{
  display: inline-block;
  width: 70%;
  height: 70px;
  max-width: 640px;
}

#csp-form button[type="submit"] {
  margin:12px 0 0 0;
  font-size: 120%;
}